.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin-top: 20px;
}

.center-table {
    width: 80%;
}

  
  td, th {
    border: 1px solid #dddddd;
    text-align:start;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .table-row td{
    height: 15px; 
    line-height: 25px; 
    padding: 0;
  }

  a{
    text-decoration: none;
    color: black;
    padding: 8px 15px;
    display: inline-block;
    border: 1px solid #000;
    background-color: grey;
  }
  .pagination{
    text-align: center;
    padding-top: 5%;
  }

  