.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin-top: 20px;
}

.center-table {
    width: 80%; /* Adjust the table width here */
}

  
  td, th {
    border: 1px solid #dddddd;
    text-align:start;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .table-row td{
    height: 15px; 
    line-height: 25px; 
    padding: 0;
  }

  a{
    text-decoration: none;
  }